<header>
  <h2>参照ページ</h2>
  <p>入力ページで登録したデータが閲覧できます。いずれのStorageも、ページ遷移でデータを引き継ぐことができます。</p>
</header>

<article>
  <h3>
    SessionStorage
  </h3>
  <p>Session Storageのデータは、同じタブが開いている間有効です。ページを再読み込みしてもデータを復元できますが、別のタブではデータを復元できません。</p>
  <p class="description">Session Storageのデータ:<strong>{{session}}</strong></p>
</article>

<article>
  <h3>
    LocalStorage
  </h3>
  <p>Local Storageのデータは、タブが閉じられても保存されます。</p>
  <p class="description">Local Storageのデータ:<strong>{{local}}</strong></p>
</article>

<article>
  <h3>
    In Memory
  </h3>
  <p>メモリ上のデータは、再読み込みで消えます。</p>
  <p class="description">メモリ上のサービスのデータ:<strong>{{memory}}</strong></p>
</article>
