<!--The content below is only a placeholder and can be replaced.-->
<ss-base-layout>
  <ss-header class="header"></ss-header>
  <ss-navigator class="side"></ss-navigator>
  <router-outlet></router-outlet>
</ss-base-layout>
