<header>
  <h2>入力ページ</h2>
  <p>各ストレージに対してデータを保存／削除できます。</p>
</header>

<article>
  <h3>
    SessionStorage
  </h3>
  <p>Session Storageに対してデータを保存/削除します</p>
  <p>
    <input type="text" [formControl]="session">
    <button class="submit" (click)="sessionSubmit()">登録</button>
    <button class="delete" (click)="sessionDelete()">削除</button>
  </p>
</article>
<article>
  <h3>
    LocalStorage
  </h3>

  <p>Local Storageに対してデータを保存/削除します</p>
  <p>
    <input type="text" [formControl]="local">
    <button class="submit" (click)="localSubmit()">登録</button>
    <button class="delete" (click)="localDelete()">削除</button>
  </p>
</article>

<article>
  <h3>
    In Memory
  </h3>

  <p>メモリ上のサービスに対してデータを保存/削除します</p>
  <p>
    <input type="text" [formControl]="memory">
    <button class="submit" (click)="memorySubmit()">登録</button>
    <button class="delete" (click)="memoryDelete()">削除</button>
  </p>
</article>
