article {
  margin: 1em;
  border-bottom: 1px solid #DDD;
  width: 100%;
}

p {
  color: #3c3c3c;
  font-size: 0.9em;
  margin: 1.5em;
}

input, button {
  font-size: 1em;
  padding: 0.3em;
}

button {
  color: #FFF;
  margin: 0 0.1em;
}

button.submit {
  background-color: #5679ff;
  border-color: #1242ff;
}

button.delete {
  background-color: #ff6580;
  border-color: #ff4060;
}
