nav {
  padding-top: 1em;
  background-color: #ff7967;
  height: 100%;
}

ul {
  list-style: none;
}

li {
  padding: 0 2em;
  margin: 1em 0;
}

li:hover {
  background-color: #d66959;
}
a {
  text-decoration: none;
  color: #FFF;
}
